<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
</head>
<body>
    <h1>Hề lố!</h1>
    <br>
    <img src="/WebModule/web2/models/static/image/female-profile.jpg" alt="lỗi"><br>
    <!-- anchor, target = # để bật tab mới. src = <source> -->
    <a href="{{url_for("search")}}">All contacts</a><br>
    <a href="{{url_for("new_service")}}">Thêm người dùng</a><br>
    <a href="{{url_for("admin")}}">Admin</a><br>
            
</body>
</html>