<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
</head>
<body>
    <h1>Hề lố ma dờ phạc cơ!</h1>
    <br>
    <img src="http://docs.mongoengine.org/guide/querying.html#query-operators/200x300" alt="">
    
    <!-- url_for() là hàm để chạy function gì đó, Vd chạy function search, gender = 0 -->
    <!-- anchor, target = # để bật tab mới. src = <source> -->
    <a href="{{url_for('search', gender=0)}}" target="#">Search for Male</a><br>
    <a href="{{url_for('search', gender=1)}}" target= "#">Search for Female</a>
    
</body>
</html>