<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <h1>New Service</h1>
    <form action="", method="POST">
<!-- tạo chỗ nhập -->
<!-- hint: set default input value -->
<!-- radio button -->
        <label for="">Tên</label>
        <input type="text", name="name">
        <!-- name = "" là cái tên mà web browser sẽ đọc để submit vào, chứ không phải là name trong Class  -->
<br>
        <label for="">Yob</label>
        <input type="text", name="yob">
<br>
        <label for="">Height</label>
        <input type="text", name="height">
<br>    
        <label for="">Phone</label>
        <input type="text" name = "phone">
<br>
        <label for="">Address</label>
        <input type="text", name="address">
<br>    <label for="">Hobby</label>
        <input type="text", name ="describe">
<br>
        <label for="">Số đo 3 vòng</label>
        <input type="text", name = "info">
        <br>
        <input type="radio" name="gender" id="1">Male <br>
        <input type="radio" name="gender" id="0">Female <br>

       
<br>
        <input type="submit", value="Thêm">
<br>
        <!-- <form action="/action_page.php"> -->
        <input type="file" name="pic" accept="image/*">
        <input type="submit">
      </form>
    </form>
    
</body>
</html>