<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-up</title>
</head>
<body>
    <h1>Sign-up!</h1>
    <h2>1 step left.</h2>
    <h3>You are becoming an adult</h3>
    <form action="" method="POST">
        <label>Tên đầy đủ</label><br>
        <input type="text" name = "name"><br>
        <label>Email</label><br>
        <input type="text" name = "email"><br>
        <label for="">Tên đăng nhập</label><br>
        <input type="text" name="user"><br>
        <label for="">Password</label><br>
        <input type="password", name="password"><br>
        <input type="submit" value="Chiến thôi!">
    </form>
    
</body>
</html>