<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>
    <h1>Admin page</h1>
    <a href="{{url_for("logout")}}">Log out</a>
    <form method="POST">
        <label>Link:</label>
        <input type="text" name="link">
        <input type="submit", value = "Thêm">
    </form>
<table border="2px">
    <thead>
        <th>STT </th>
        <th>Name</th>
        <th>Views</th>
        <th>Thumbnail</th>
    </thead>
    <tbody>
        {% for video in videos %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{video.title}}</td>
            <td>{{video.views}}</td>
            <td>
                <img src="{{video.thumbnail}}" width="250" height="175">
            </td>
            <td><a href="{{video.link}}" target = "#">Watch now!</a></td>
            
        </tr>
        {%endfor%}
    </tbody>
</table>
</body>
</html>