<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
    
</head>
<body>
    <h1>VLinh's Blog</h1>
    
    <!-- jinja2- tạo biến  -->
        <div>
            <h2>          
                Ch&agrave;o mừng tới Trang chủ!<br>
            </h2>
                <i>                     
                     Hề lố ma dờ phạc cơ :))
                </i>
            <hr>
    
            
            
    </div>
    <div>
        <h3></h3>
    </div>
    
    
</body>
</html> 